<!-- calculette.component.html -->
<form [formGroup]="calculatrice" (ngSubmit)="calcul()">
  <p><input class="form-control" required name="operande1" type="number"></p>
  <p>
    <select formControlName="operateur">
      <option selected>+</option>
      <option>-</option>
      <option>/</option>
      <option>*</option>
    </select>
  </p>
  <p><input class="form-control" required name="operande2" type="number"></p>

  <p>Résultat</p>
  <p>{{ resultat }}</p>

  <button type="submit">Calculer</button>
</form>
