<div>
  <form [formGroup]="calculatrice" (ngSubmit)="calcul()">
    <p><input class="form-control" required name="operande1" type="number" (change)="calcul()"
              [formControl]="operande1"></p>
    <p><select name="operateur" (change)="calcul()" [formControl]="operateur">
      <option>+</option>
      <option>-</option>
      <option>/</option>
      <option>*</option>
    </select></p>
    <p><input class="form-control" required name="operande2" type="number" (change)="calcul()"
              [formControl]="operande2"></p>

    <p>Résultat</p>
    <p>{{resultat}}</p>
    <div *ngIf="flagTropDeCalcul">
      <b>Trop de calcul effectués!</b>
    </div>

    <app-compteur-de-calcul #compteur (attentionNombreDeCalculImportant)="tropDeCalcul($event)"></app-compteur-de-calcul>
  </form>
</div>
